<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client communication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1><p  th:text="'Thank you '+${name}+ ' for message!'"></p></h1>
<a href="index.html" th:href="@{'/'}" >Main page</a><br/><br/>
<a href="messages.html" th:href="@{messages}" >See messages</a><br/><br/>
<a href="contact.html" th:href="@{contact}">Send another message</a>
</body>
</html>