<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client communication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Contact with us:</h1>
<form action="#" th:action="@{/contact}" th:object="${clientMessage}" method="post">

    <div style="color:red"  th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>

    <p>First name*: <input type="text" th:field="*{firstName}"  /></p>
    <p>Last name*: <input type="text" th:field="*{lastName}" /></p>
    <p>Address: <input type="text" th:field="*{address}" /></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p>Phone: <input type="text" th:field="*{phone}" /></p>
    <p>Message <textarea th:field="*{message}"></textarea></p>
    <p><input type="submit" value="Send" /></p>
</form>
</body>
</html>