<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client communication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Ups, error occurred!</h1>
<a href="index.html" th:href="@{'/'}" >Main page</a><br/>
</body>
</html>