<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client communication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="messages.html" th:href="@{messages}" >See messages</a><br/><br/>
<a href="contact.html" th:href="@{contact}">Click to send us message!</a>
</body>
</html>