

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client communication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="index.html" th:href="@{'/'}" >Main page</a><br/>

<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Client </th>
        <th> Email </th>
        <th> Phone </th>
        <th> Content </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${messages.empty}">
        <td colspan="2"> No messages </td>
    </tr>
    <tr th:each="msg : ${messages}">
        <td><span th:text="${msg.id}"> Id </span></td>
        <td><span th:text="${msg.fullName}"> Client </span></td>
        <td><span th:text="${msg.email}"> Email </span></td>
        <td><span th:text="${msg.phone}"> Phone </span></td>
        <td><span th:text="${msg.message}"> Content </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>